<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">

<insert id="updateMember" parameterType="member">
	INSERT INTO member(user_no, user_id, user_pw, user_name, user_addr, reg_date)
	VALUES (SEQ_MEMBER.NEXTVAL, #{userId}, #{userPw}, #{userName},#{userAddr}, DEFAULT )
</insert>

<resultMap type = "member" id = "memberMap">
	<id column = "user_no" property = "userNo" />
	<result column ="user_id" property = "userId" />
	<result column ="user_pw" property = "userPw" />
	<result column ="user_name" property = "userName" />
	<result column ="user_addr" property = "userAddr" />
	<result column ="reg_date" property = "regDate" />
</resultMap>

<!-- 회원 기본 조회 -->
<select id = "selectMember" resultMap="memberMap">
	SELECT user_no, user_id, user_pw, user_name,
		user_addr, reg_date
	FROM member
</select>

<insert id ="insertMember" parameterType="member">
	<selectKey keyProperty = "userNo" resultType="int" order="BEFORE">
		select SEQ_MEMBER.NEXTVAL from dual
	</selectKey>
	INSERT INTO member(user_no, user_id, user_pw, user_name, user_addr, reg_date)
	VALUES (#{userNo}, #{userId}, #{userPw}, #{userName}, #{userAddr}, DEFAULT)
</insert>

</mapper>